.feedback-rating-module {
  font-family: Arial, sans-serif;
  background-image: url("1000_F_513780627_asc4a4szhigr3nROtPmZaC3moPlXQLag.jpg"); /* C:\Community based local service\user page */
  background-size: cover;
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
  .element {
    margin-top: 5px; /* Sets margin of 5 pixels for the top side */
    margin-right: 5px; /* Sets margin of 5 pixels for the right side */
    margin-bottom: 5px; /* Sets margin of 5 pixels for the bottom side */
    margin-left: 5px; /* Sets margin of 5 pixels for the left side */
  }

  padding: 10px;
}
.feedback-container {
  text-align: center;
}
textarea {
  width: 50%;
  height: 50px;
  margin-bottom: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.stars {
  font-size: 50px;
}

.star {
  cursor: pointer;
}

.star:hover,
.star.active {
  color: gold;
}
